body {
  color: #444;
  margin: 0;
  padding: 5em;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

hr {
  margin: 2em 0;
}

h4 {
  margin-bottom: .5em;
}

p {
  margin: 0 0 1.4em;
}